<div>
    <h1>Login</h1>
    <form id="loginForm">
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Contraseña" required>
        <button type="submit">Entrar</button>
    </form>
    <p>¿No tiene cuenta? <a href="/register">Registrese aquí</a></p>
</div>
<script src="/js/login.js"></script>