<div>
    <h1>Registro de Usuario</h1>
    <form id="registerForm">
        <input name="first_name" placeholder="Nombre" required>
        <input name="last_name" placeholder="Apellido" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="age" type="number" placeholder="Edad" required>
        <input name="password" type="password" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes cuenta? <a href="/login">Logueate aquí</a></p>
</div>
<script src="/js/register.js"></script>